accelerate==1.6.0
datasets==2.21.0
huggingface-hub
numpy==1.26.4
peft==0.11.1
pillow==11.2.1
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.4
transformers==4.48.1
wandb==0.17.7
open-clip-torch==2.32.0
deepspeed==0.14.4
openai==1.74.0
gritlm==1.0.2